# jupyter notebooks.
*.ipynb
*.npy
.ipynb_checkpoints/
# Rhistory
.Rhistory
# result folders
td results/
value iter results/
deepQN results/
# Ignore Python cache files and directories
__pycache__/
*.pyc
*.pyo